*.retry
*.pyc
.idea/
.DS_Store/
**/.DS_Store
.vagrant/
**/*.tar.gz
config/apt_repo/keys/ansible.pub
config/certificate_authority/keys/id_rsa-cert.pub
hosts
config/certificate_authority/keys/ca-user-certificate-key.pub