sudo: required
dist: trusty
before_install:
  - ./build/build.sh
  - ./tests/test_setup.sh
  - ./tests/install.sh
language: python
install:
  - ideam install --quick
  #- ideam start --with-idps
script:
  - ideam test
#addons:
#  postgresql: "9.5"
#before_script:
#  - psql -U postgres -c "ALTER USER postgres WITH SUPERUSER CREATEDB;"
#  - psql -d postgres -c 'create extension if not exists pgcrypto;'
#  - psql -U postgres -d postgres -c 'CREATE TABLE IF NOT EXISTS logs(id serial NOT NULL,logline text,hash text,CONSTRAINT logs_pkey PRIMARY KEY (id))WITH (OIDS=FALSE);ALTER TABLE logs OWNER TO postgres;'
#  - psql -d postgres -f ./config/idps/function.sql
#  - psql -d postgres -f ./config/idps/trigger.sql
