chardet==2.3.0
japronto==0.1.1
ldap==1.0.2
ldap3==2.4.1
pyasn1==0.4.2
pycurl==7.43.0
pygobject==3.20.0
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
unattended-upgrades==0.1
urllib3==1.13.1
uvloop==0.8.1