[
 {
	rabbitmq_mqtt,[{
		default_user, <<"?" >>
	},
	{
		default_pass, <<"?" >>
	},
	{
		allow_anonymous, false 
	},
	{
		vhost, <<"?" >>
	},
	{
		exchange, <<"?" >>
	},
	{
		subscription_ttl, 1800000
	},
	{
		prefetch, 10
	},
	{
		ssl_listeners,[]
	},
	{
		tcp_listeners,[1883]
	},
	{
		tcp_listen_options,[{
			backlog, 128
		},
		{
			nodelay, true
		}]
	}]
},
{
	rabbit,[{
		auth_backends,[rabbit_auth_backend_ldap, rabbit_auth_backend_internal]
	}, {
		tcp_listeners,[5672]
	}]
},
{
	rabbitmq_auth_backend_ldap,
		[{
		servers,["ldapd"]
	},
	{
		user_dn_pattern, "uid=${username},cn=devices,dc=smartcity"
	},
	{
		use_ssl, false
	},
	{
		port, 8389
	},
	{
		log, true
	},

	{
		vhost_access_query, {
			constant, true
		}
	},
	{
		resource_access_query,
		{
			for,[
			     {
				resource, exchange, {
					for,
						[
						 {
						permission, configure, {
							equals, {
								"${username}", {
									string, "admin.ideam"
								}
							}
						}
					},
					{
						permission, write, {
							'and',[
							       {
								equals, {
									attribute, "uid=${username},cn=devices,dc=smartcity", "block"
								}, {
									string, "false"
								}
							},
							{
								'or',[
								      {
									equals, {
										attribute, "description=${name},description=exchange,description=broker,uid=${username},cn=devices,dc=smartcity", "write"
									}, {
										string, "true"
									}

								},
								{
									equals, {
										attribute, "description=${name},description=share,description=broker,uid=${username},cn=devices,dc=smartcity", "write"
									}, {
										string, "true"
									}
								}
								]
							}
							]
						}
					},
					{
						permission, read, {
							constant, true
						}
					}
					]
				}
			},
			{
				resource, queue, {
						for,[{
						permission, configure, {
							equals, {
								"${username}", {
									string, "admin.ideam"
								}
							}
						}
						},
					{
						permission, read, {
							'and',[
							       {
								equals, {
									attribute, "description=${name},description=queue,description=broker,uid=${username},cn=devices,dc=smartcity", "read"
								}, {
									string, "true"
								}
							},
							{
								equals, {
									attribute, "uid=${username},cn=devices,dc=smartcity", "block"
								}, {
									string, "false"
								}
							}]
						}
					},
					{
						permission, write, {
							equals, {
								"${username}", {
									string, "admin.ideam"
								}
							}
						}
					}
					]
				}
			}]
		}
	}
	]
}
].
